/* Project rectangles on the main page.*/
.project {
	margin-bottom: 10px;
	
	padding: 14px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.project h2 {
	margin-bottom: 20;
	
	margin-top: -6px;
	padding-bottom: 6px;
}

/* Style a project to look like an iOS folder. */
.ios {
	background-image: url(images/folder-bg.png);
	background-repeat: repeat;
	
	color: #ffffff;
	text-shadow: 0 1px 0 #404040;
	
	border: 2px solid #c0c0c0;
	
	-webkit-box-shadow: inset 0 4px 30px #000000;
	-moz-box-shadow: inset 0 4px 30px #000000;
	box-shadow: inset 0 4px 30px #000000;
}

div.ios h2 {
	color: #ffffff;
	text-shadow: 0 1px 0 #404040;
}

/* Style a project to look like github.com. */
.github {
	color: #99A7AF;
	
	background-color: #ffffff;
	
	background-image: url(images/background-yellow.png);
	background-repeat: repeat-x;	
	
	border: 2px solid #CACACA;
}

div.github h2 {
	color: #495961;
}

.octocat {
	padding-left: 10px;
}

/* Misc */
body {
	background-color: #f5f5f5;
}

footer {
	text-align: center;
	color: #CACACA;
/*	text-shadow: 0 -1px 0 #99A7AF;*/
}